html {
  scroll-behavior: smooth;
}

.LaunchCard {
  margin-top: 20px !important;
}

.LaunchCardRow {
  margin: 20px 0;
}

.search {
  margin-bottom: 10px;
}

.crewImage {
  height: 398px;
  width: auto;
  object-fit: cover;
  object-position: top;
}

.shipImage {
  height: 398px;
  width: auto;
  object-fit: cover;
}

.fullPage {
  min-height: 90vh;
}

.footer {
  margin: 10px;
}
