html {
  scroll-behavior: smooth;
}

.LaunchCard {
  margin-top: 20px !important;
}

.LaunchCardRow {
  margin: 20px 0;
}

.search {
  margin-bottom: 10px;
}

.crewImage {
  height: 398px;
  width: auto;
  object-fit: cover;
  object-position: top;
}

.shipImage {
  height: 398px;
  width: auto;
  object-fit: cover;
}

.fullPage {
  min-height: 90vh;
}

.footer {
  margin: 10px;
}

.shipDetailsLabel {
  font: 0.6em;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 10px;
}

.shipInfo {
  font-weight: bold;
  letter-spacing: 0.05em;
}
